@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

main {
  font-family: "Roboto", Arial, sans-serif;
  margin-top: 100vh;
  /* border: 3px solid green; */
  width: 100%;

  background-image: linear-gradient(
    rgb(104, 74, 114),
    rgb(114, 84, 94),
    rgb(124, 94, 84),
    rgb(134, 104, 74)
  );
  display: grid;
  grid-template-rows: 1fr;
}
main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style for heading */
.right h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.right p {
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.left img {
  filter: blur(0.5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid gray;
  border-radius: 20%;
  margin-top: 20px;
  max-width: 50%;
  transition: transform 0.3s ease;
}

/* Hover effect for image */
.left img:hover {
  transform: scale(1.1);
}

/* Animation for heading */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.right h1 {
  animation: fadeInUp 1s ease;
}

/* Animation for paragraph */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.right p {
  animation: fadeIn 1s ease;
}
